@page
@model IndexModel
@{
    ViewData["Title"] = "Октава книги";
}

<div class="content">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="img/Rectangle 14.png" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="img/Rectangle 15.png" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="img/Rectangle 16.png" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="slider">
			<div class="slider__wrapper">
				<div class="slider__items">
					<div class="slider__item">
						<img src=" img/Rectangle 9.png" alt="">
					</div>
					<div class="slider__item">
						<img src=" img/Rectangle 3.png" alt="">

					</div>
					<div class="slider__item">
						<img src=" img/Rectangle 4.png" alt="">

					</div>
					<div class="slider__item">
						<img src=" img/Rectangle 5.png" alt="">

					</div>
					<div class="slider__item">
						<img src=" img/Rectangle 6.png" alt="">
					</div>
					<div class="slider__item">
						<img src=" img/Rectangle 7.png" alt="">

					</div>
					<div class="slider__item">
						<img src=" img/Rectangle 8.png" alt="">
					</div>
				</div>
			</div>
			<a href="#" class="slider__control" data-slide="prev"></a>
			<a href="#" class="slider__control" data-slide="next"></a>
			<ol class="slider__indicators">
				<li data-slide-to="0"></li>
				<li data-slide-to="1"></li>
				<li data-slide-to="2"></li>
				<li data-slide-to="3"></li>
				<li data-slide-to="4"></li>
				<li data-slide-to="5"></li>
				<li data-slide-to="6"></li>
			</ol>
		</div>
		<div class="container text">
			<h2 class="bookoctave">Книги на Октаве</h2>
			<p class="bluetext ">Библиотека и книжный магазин кластера «Октава» — это уникальная подборка научной и научно-популярной литературы  на русском и иностранных языках.</p>
			<h2 class="holl">
				Основной зал
			</h2>
			<hr/>
			<p class="holltext">Библиотека кластера работает в режиме читального зала. Здесь собрано более 5000 книг со всего мира по дизайну, виртуальному проектированию, программированию, архитектуре, урбанистике и другим темам.</p>	
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					 <img class="d-block w-100" src="img/1.png" alt="First slide">
				  </div>
				  <div class="carousel-item">
					 <img class="d-block w-100" src="img/2.png" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					 <img class="d-block w-100" src="img/3.png" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img class="d-block w-100" src="img/4.png" alt="Third slide">
				 </div>
				 <div class="carousel-item">
					<img class="d-block w-100" src="img/5.png" alt="Third slide">
				 </div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			 </div>
			 <h2 class="holl">
				Детский зал
			</h2>
			<hr/>
			<p class="holltext">В детском зале собрано около 1500 лучших современных книг для детей всех возрастов, а также интересные настольные игры.</p>	
			<div id="carouselExampleSlidesOnly" class="carousel slide kids offset-lg-3" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					 <img class="d-block" src="img/6.png"  alt="First slide">
				  </div>
				  <div class="carousel-item">
					 <img class="d-block" src="img/7.png" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					 <img class="d-block" src="img/8.png" alt="Third slide">
				  </div>
				</div>
			 </div>
		</div>

	</div>
