@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Сгенерировать коды двухфакторной аутентификации (2FA) ";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Сохраните эти кодв</strong>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generate Recovery Codes</button>
    </form>
</div>
