@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Восстановление двухфакторной аутентификации";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>После восстановления двухфакторная аутентификация не будет работать до ее новой привязки.</strong>
    </p>
    <p>
       Отключение ключа может привести к не работе аккаунта.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Отключить двухфакторную аутентификацию</button>
    </form>
</div>
