@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Двухфакторная аутентификация";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>У вас не осталось резервных кодов.</strong>
                    <p>Вы должны <a asp-page="./GenerateRecoveryCodes">создать новый набор резервных кодов</a> прежде чем вы сможете войти с резервными кодами.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>У вас остался 1 резервный код.</strong>
                    <p>Вы можете <a asp-page="./GenerateRecoveryCodes">создать новый пак кодов</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>У вас осталось @Model.RecoveryCodesLeft резервных кодов.</strong>
                    <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Забыть этот браузер</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Отключить 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Сбросить резервные коды</a>
        }

        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Добавить 2FA</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Настроить приложение для 2FA</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Сбросить приложение для 2FA</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Политика конфиденциальности и использования файлов cookie не были приняты</strong>
            <p>Вы должны принять политику, прежде чем сможете включить двухфакторную аутентификацию.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
