@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение смены пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменен, авторизуйтесь повтроно <a asp-page="./Login"></a>.
</p>
