@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Ошибка при выполнении запроса</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработчика</h3>
<p>
    Режим разработчика покажет дополнительную информацию
</p>
