@page
@using LibraryWeb.Models
@model LibraryWeb.Areas.Identity.Pages.Account.Manage.BookManager.CreateModel

@{
    ViewData["Title"] = "Создать книгу";
}



<h4>Добавить книгу</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Имя книги</label>
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Автор книги</label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Обложка</label>
                <input asp-for="Book.Img" class="form-control" />
                <span asp-validation-for="Book.Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Количество</label>
                <input asp-for="Book.Count" class="form-control" />
                <span asp-validation-for="Book.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Тип книги</label>
                <select asp-for="Book.Type" asp-items="Html.GetEnumSelectList<BookGroup>()" class="form-control"></select>
                <span asp-validation-for="Book.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Год выпуска</label>
                <input asp-for="Book.Date" class="form-control" />
                <span asp-validation-for="Book.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Язык книги</label>
                <select asp-for="Book.Languages" asp-items="Html.GetEnumSelectList<Language>()" class="form-control"></select>
                <span asp-validation-for="Book.Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../BookManager">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
